@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Courier+Prime:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #171717; /* Fondo oscuro por defecto para presentación */
  --foreground: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Courier Prime', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow: hidden; /* Evitar scroll en la presentación */
}

/* Clases de utilidad inspiradas en Backroom */
.depth-2 {
  background-color: #27272A;
  border: 1px solid #3F3F46;
}

.text-primary-purple {
  color: #8B5CF6;
}

.bg-primary-purple {
  background-color: #7C3AED;
}
